<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="{{recipe.cover.url}}"
            alt="texto imagem relativo">
    </div>
    <div class="recipe-tittle-container">
        <h2 class="recipe-title">{{recipe.title}}</h2>
    </div>
    <div class="recipe-author">
        <span class="recipe-author-item">
            <a href="/user"> <i class="fa-solid fa-user"> </i>
                {{recipe.author.first_name}}</a>
        </span>
        </span>

        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar"> </i>
            01/10/2007 at 15:20
        </span>

        <span class="recipe-author-item">
            <a href="/categoryes"> <i class="fa-solid fa-layer-group"> </i>
                Breakfest</a>
        </span>
    </div>
    <div class="recipe-content">
        <p>{{recipe.description}}</p>
    </div>
    {% if detail_page %}
    <div class="preparation-steps">
       {{recipe.preparation_steps|linebreaksbr}} 
    </div>
    {% endif %}
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3> <i class="fa-solid fa-clock"> </i> Preparing time</h3>

            <div class="recipe-meta-text">
                {{recipe.preparation_time}} minutes
            </div>
        </div>
        <div class="recipe-meta recipe-portions">
            <h3><i class="fa-solid fa-user-group"></i> Portions</h3>

            <div class="recipe-meta-text">
                {{recipe.servings}} portions
            </div>
        </div>
    </div>
    {% if not detail_page %}
    <footer class="recipe-footer">
        <a href="{% url 'recipes:recipe' recipe.id %}" class="recipe-footer-btn"><i class="fa-solid fa-eye"></i> See more</a>
    </footer>
    {% endif %}

 
</div>